
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .button {
        background-color: #0738f7;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<script>
    $('#target').hide(0);
    $('.target').hide("fast");
</script>

<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon; text-align:center;">Reservar en Línea</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b></b></p>
        </div>
    </div>
</div>

<form name="formulario" action="@Url.Action("ReservarHabitacion","Reservar")" method="post">
    <div id="fh5co-wrap">
        <div class="fh5co-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5" style="left:300px;">
                        <label for="fecha_llegada" class="col-sm-5 control-label" style="width:200px">Fecha de Llegada:</label>
                        <br />
                        <input type="date" class="form-control col-sm-5" style="width:200px" id="fechaLlegada" name="fechaLlegada" placeholder="Casa comercial" required>
                    </div>
                    <div class="col-md-7" style="left:100px;">
                        <label for="fecha_salida" class="col-sm-5 control-label" style="width:200px">Fecha de Salida:</label>
                        <br />
                        <input type="date" class="form-control col-sm-5" style="width:200px" id="fechaSalida" name="fechaSalida" placeholder="Casa comercial" required>
                    </div>
                    <script>
                            var f = new Date();
                            if ((f.getMonth() + 1) < 10 && f.getDate() < 10)
                                var fa = f.getFullYear() + "-0" + (f.getMonth() + 1) + "-0" + f.getDate();
                            else if ((f.getMonth() + 1) < 10)
                                var fa = f.getFullYear() + "-0" + (f.getMonth() + 1) + "-" + f.getDate();
                            else if (f.getDate() < 10)
                                var fa = f.getFullYear() + "-" + (f.getMonth() + 1) + "-0" + f.getDate();
                            else
                                var fa = f.getFullYear() + "-" + (f.getMonth() + 1) + "-" + f.getDate();
                            document.formulario.fechaLlegada.min = fa;

                            //document.formulario.fechaLlegada.value = "2018-01-20";
                    </script>

                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-5" style="left:300px;">
                        <label for="tipo_habitacion" class="col-sm-5 control-label" style="width:200px">Tipo de habitación </label>
                        <br />
                        <select class="form-control" id="tipo" style="width:200px" name="tipo" required>
                            <option value="">-- Selecciona el tipo --</option>
                            <option value="standard" selected>Standard</option>
                            <option value="junior">Junior</option>
                            <option value="suite">Suite</option>
                        </select>
                    </div>
                    @*<div class="col-md-7" style="left:100px;">
                            <label for="cantidad_persona" class="col-sm-5 control-label" style="width:200px">Cantidad de personas</label>
                            <br />
                            <select class="form-control" id="presentacion" style="width:200px" name="presentacion" required>
                                <option value="">-- Selecciona estado --</option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                            </select>
                        </div>*@
                </div>
                <div style="text-align:center">
                    <br />
                    <input type="submit" class="button" id="mostrar" value="Buscar">
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<br />
<br />

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[id=fechaLlegada]").click(function () {
                document.formulario.fechaSalida.value = "";
            });
            $("input[id=fechaSalida]").click(function () {
                document.formulario.fechaSalida.min = document.formulario.fechaLlegada.value;
            });
        });
    </script>
}