@model HotelPatito.Models.Tipadas.ClienteReserva

@{
    ViewBag.Title = "PaginaUnoFacilidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix" style="text-align:center;">
            <h3 style="color:darksalmon">Reservar en linea</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b></b></p>
        </div>
    </div>
</div>
<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix" style="text-align:center;">
            <h3 style="color:darksalmon">Reservación realizada</h3>
        </header>
        <br /><br>
        <div class="agileits-box-body clearfix">
            <h4 style="color:blue">Gracias @Model.nombre_cliente !! Su reservacion fue realizada exitosamente.</h4>
        </div>
        <br /><br />
        <div class="agileits-box-body clearfix">
            <h4 style="color:blue">Numero de reservacion: @Model.numero_habitacion</h4>
        </div>
        <br /><br />
        <div class="agileits-box-body clearfix">
            <h4 style="color:blue">Acabamos de enviar esta informacion a la direccion @Model.mail para mayor facilidad</h4>
        </div>
        <br /><br />
        <div class="agileits-box-body clearfix" style="text-align:center;">
            <h4 style="color:blue">Gracias por preferirnos</h4>
        </div>
    </div>
</div>