@model IEnumerable<HotelPatito.Models.Tipadas.Hotel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon">CONTACTENOS</h3>
        </header>
    </div>
</div>
<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">


            @foreach (var item in Model)
            {
                <div class="col-md-7">
                    <h3 style="color:darksalmon">Hotel @Html.DisplayFor(modelItem => item.nombre_Hotel):</h3>
                </div>
                <div class="col-md-7">
                    <h2 style="color:darksalmon">Tel: @Html.DisplayFor(modelItem => item.telefono_Hotel)</h2>
                </div>
                <div class="col-md-7">
                    <h2 style="color:darksalmon">Apdo Postal @Html.DisplayFor(modelItem => item.aptoPostal_Hotel)</h2>
                </div>
                <div class="col-md-7">
                    <h2 style="color:darksalmon">@Html.DisplayFor(modelItem => item.email_Hotel)<br /><br /><br /><br /></h2>
                </div>
            }
        </header>
    </div>
</div>
