@model HotelPatito.Models.Tipadas.Hotel
@{
    ViewBag.Title = "ComoLlegar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/comoLlegar.css" rel='stylesheet' type='text/css' />

<!--agileinfo-grap-->
<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon">COMO LLEGAR?</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b>Nos ubicamos en Turrialba de Cartago, 200 metros norte del Parque Central</b></p>
        </div>
    </div>
</div>

<div class="map">
    <div>
        <div class="w3ls_map">
            <iframe src="https://maps.google.com/maps?&hl=es&q=Turrialba%2C%20Costa%20Rica+&ie=UTF8&t=&z=14&iwloc=B&output=embed"
                    style="border:0"></iframe>
        </div>
    </div>
</div>