@{
    ViewBag.Title = "Home Page";
}
<!--/content-inner-->
<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon">Inicio</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b></b></p>
        </div>
    </div>
</div>
<div id="fh5co-wrap">
    <div class="agileinfo-grap">
        <div class="agileits-box">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/images/page_1.1.jpg" width="400" height="400" class="img-responsive">
                </div>
                <br />
                <div class="col-md-7">
                    <h2>Habitaciones</h2>
                    <p>
                        Las habitaciones del Hotel Patito se hallan en continua adecuación a las exigencias de nuestros clientes.

                        Todas las habitaciones del Hotel Patito están equipadas con aire acondicionado, TV LCD, teléfono, mini-bar, caja fuerte y baño privado con secador de pelo. Cada una dispone de 2 camas dobles.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
