@model HotelPatito.Models.Tipadas.Hotel
@{
    ViewBag.Title = "Home Page";
}
<!--/content-inner-->
<div class="agileinfo-grap">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3 style="color:darksalmon">Inicio</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p style="font-style:italic"><b></b></p>
        </div>
    </div>
</div>
<div id="fh5co-wrap">
    <div class="agileinfo-grap">
        <div class="agileits-box">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/images/page_1.1.jpg" width="400" height="400" class="img-responsive">
                </div>
                <br />
                <div class="col-md-7">
                    <h2>Descripcion</h2>
                    <p>
                        @Model.descripcion_Hotel
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
